@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App {
    width: 100vw;
    height: 100vh;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Open Sans', 'sans serif';
}

.heading {
    color: white;
    margin-top: 0;
    font-size: 2rem;
    z-index: 1;
    padding: 1rem;
}