@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App {
    width: 100vw;
    height: 100vh;
    background-color: blue;
    display: flex;
    flex: column;
    justify-content: center;
    align-items: center;
}

.heading {
    color: white;
    align-self: flex-start;
    margin-top: 5rem;
    font-size: 2rem;
}